html, body {
    font-family: serif;
}

*,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-image: url('../video/sea.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.home::before {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
.home-video {
    padding-top: 56.25%;
}
.home video {
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
}
.home-content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    z-index: 3;
}
